{% extends 'base.html.twig' %}

{% block body %}

    <div class="row">
        <div class="col-md-12">
            <div class="jumbotron">
                <h1>Grocery App</h1>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <div class="row">
                <div class="col-md-12">
                    <input type="text" class="form-control" id="searchField" placeholder="Search...">
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <table id="dataTable" class="table table-hover">
                        <thead>
                        <tr>
                            <th>Name</th>
                            <th>Amount</th>
                        </tr>
                        </thead>

                        <tbody>
                        {% for item in items %}
                            <tr class="item" data-id="{{ item.id }}">
                                <td>{{ item.name }}</td>
                                <td>{{ item.amount }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>

                    </table>
                </div>
            </div>
        </div>
        <div class="col-md-6">

        </div>
    </div>

{% endblock %}

{% block javascripts %}
    <script>
        $( document ).ready(function () {

            $("#searchField").keyup (function () {
                var searchField = $(this).val();

                $.get('{{ path('search_action') }}', { searchField: searchField })
                        .done(function ( data ) {

                            $("#dataTable tbody").empty();

                            jQuery.each($.parseJSON(data), function (i, item) {

                                var tr = $('<tr class="item" data-id="' + item.id + '">' +
                                        '<td>' + item.name + '</td>' +
                                        '<td>' + item.amount + '</td>' +
                                        '</tr>');

                                $("#dataTable tbody").append(tr);

                            })
                        })
            });

            $("#dataTable tbody").on("click", "tr", function () {
                var itemId = $(this).data('id');

                $(".item").removeClass("active");
                $(this).addClass("active");

                console.log(itemId);
            })

        })
    </script>
{% endblock %}
