{% extends 'base.html.twig' %}

{% block body %}

    <div class="row">
        <div class="col-md-12">
            <div class="jumbotron">
                <h1>Grocery App</h1>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">

            <table id="dataTable" class="table table-hover">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Amount</th>
                    </tr>
                </thead>

                <tbody>
                {% for item in items %}
                    <tr class="item" data-id="{{ item.id }}">
                        <td>{{ item.name }}</td>
                        <td>{{ item.amount }}</td>
                    </tr>
                {% endfor %}
                </tbody>

            </table>

        </div>
        <div class="col-md-6">

        </div>
    </div>

{% endblock %}

{% block javascripts %}
    <script>
        $( document ).ready(function () {
            
            $("#dataTable tbody").on("click", "tr", function () {
                var itemId = $(this).data('id');

                $(".item").removeClass("active");
                $(this).addClass("active");

                console.log(itemId);
            })

        })
    </script>
{% endblock %}
