{% extends 'base.html.twig' %}

{% block body %}

    <div class="page-header">
        <h1>Admin</h1>
        <small>Dashboard</small>
    </div>

    <div class="row">
        <div class="col-md-12">
            <table class="table table-hover">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>Username</th>
                    <th>E-mail</th>
                </tr>
                </thead>
                <tbody>
                {% for user in users %}
                    <tr data-id="{{ user.id }}">
                        <td>{{ user.id }}</td>
                        <td>{{ user.username }}</td>
                        <td>{{ user.email }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

{% endblock %}

{% block javascripts %}
    <script>

    </script>
{% endblock %}
